<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'dance_school:class_list' %}">
            TEMPO
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Открыть меню"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dance_school:class_list' %}">
                        Занятия
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dance_school:teacher_list' %}">
                        Хореографы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dance_school:style_list' %}">
                        Стили
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dance_school:about' %}">
                        О школе
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>