{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title mb-3">{{ title }}</h1>

            <p class="card-text">
                Добро пожаловать в нашу танцевальную школу!
                Здесь вы можете познакомиться с разными танцевальными
                направлениями, нашими хореографами и доступными занятиями.
            </p>

            <a href="{% url 'dance_school:class_list' %}" class="btn btn-primary">
                Посмотреть занятия
            </a>
        </div>
    </div>
{% endblock %}





