<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Танцевальная школа{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'dance_school:class_list' %}">Занятия</a>
            <a href="{% url 'dance_school:teacher_list' %}">Хореографы</a>
            <a href="{% url 'dance_school:style_list' %}">Стили</a>
            <a href="{% url 'dance_school:about' %}">О школе</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>